<div class="about py-24">
  <!-- start intro section -->
  <section class="intro bg-amber-50 px-24 py-12">
    <h1 class="text-amber-600 text-7xl text-center">Rakii</h1>
    <div class="content flex flex-col md:flex-row gap-2 md:gap-24 lg:gap-28">
      <!-- image part -->
      <div class="image-part w-auto lg:w-1/3 py-7">
        <div class="image">
          <img src="/images/myphoto.JPG"  alt="rakii-photo" class="" />
        </div>
      </div>
      <!-- text part -->
      <div class="intro-text lg:w-1/2 flex flex-col gap-4 py-20">
        <h1 class="text-xl md:text-2xl/9 lg:text-4xl/15 pb-20">
          I am a professional photographer have 7 years experience based in
          Egypt, specializing in wedding photography and creating timeless
          visual stories with a refined artistic touch.
        </h1>
        <h3 class="text-xl md:text-2xl/9 lg:text-3xl">Wedding & Event Photographer</h3>
        <p class="text-xl md:text-lg lg:text-xl">
          I capture real emotions and turn moments into timeless memories.
        </p>
      </div>
    </div>
  </section>
  <!-- end intro section -->

  <section class="spezialze px-20 py-12">
    <h1 class="text-5xl text-center text-cyan-700 font-bold py-16">
      What I Specialize In ?
    </h1>
    <div
      class="speizalze-cards grid grid-cols-1 md:grid-cols-2 gap-6 justify-items-center"
    >
      <!-- card 1 -->
      <div routerLink="/portofolio" class="card pb-10 w-[400px] h-[400px]">
        <div
          class="bg-neutral-primary-soft hover:bg-[#00759575] transition block max-w-sm p-6 border-cyan-700 border rounded-md shadow-xs"
        >
          <div class="image pb-10">
            <img
              src="/images/wedding.jpg"
              alt="wedding_photo"
              class="w-full h-[220px] object-cover rounded-base"
            />
          </div>
          <h5
            class="mb-3 text-center text-2xl font-semibold text-heading leading-8"
          >
            Wedding Photography
          </h5>
          <a
            class="cursor-pointer text-md pt-6 text-amber-600 flex justify-evenly"
          >
            Go to Portfolio
            <i class="fa-solid fa-right-long text-amber-600 self-center"></i>
          </a>
        </div>
      </div>
      <!-- card2 -->

      <div routerLink="/portofolio" class="card pb-10 w-[400px] h-[400px]">
        <div
          class="bg-neutral-primary-soft hover:bg-[#00759575] transition block max-w-sm p-6 border-cyan-700 border rounded-md shadow-xs"
        >
          <div class="image pb-10">
            <img
              src="/images/portrait.jpg"
              alt="portrait_photo"
              class="w-full h-[220px] object-cover rounded-base"
            />
          </div>
          <h5
            class="mb-3 text-center text-2xl font-semibold text-heading leading-8"
          >
            Portrait Photography
          </h5>
          <a
            class="cursor-pointer text-md pt-6 text-amber-600 flex justify-evenly"
          >
            Go to Portfolio
            <i class="fa-solid fa-right-long text-amber-600 self-center"></i>
          </a>
        </div>
      </div>
      <!-- card 3 -->

      <div routerLink="/portofolio" class="card pb-10 w-[400px] h-[400px]">
        <div
          class="bg-neutral-primary-soft hover:bg-[#00759575] transition block max-w-sm p-6 border-cyan-700 border rounded-md shadow-xs"
        >
          <div class="image pb-10">
            <img
              src="/images/eventcoverage.jpg"
              alt="event_photo"
              class="w-full h-[220px] object-cover rounded-base"
            />
          </div>
          <h5
            class="mb-3 text-center text-2xl font-semibold text-heading leading-8"
          >
            Event Coverage
          </h5>
          <a
            class="cursor-pointer text-md pt-6 text-amber-600 flex justify-evenly"
          >
            Go to Portfolio
            <i class="fa-solid fa-right-long text-amber-600 self-center"></i>
          </a>
        </div>
      </div>
      <!-- card 4 -->

      <div routerLink="/portofolio" class="card pb-10 w-[400px] h-[400px]">
        <div
          class="bg-neutral-primary-soft hover:bg-[#00759575] transition block max-w-sm p-6 border-cyan-700 border rounded-md shadow-xs"
        >
          <div class="image pb-10">
            <img
              src="/images/photoediting.jpg"
              alt="color-grading"
              class="w-full h-[220px] object-cover rounded-base"
            />
          </div>
          <h5
            class="mb-3 text-center text-2xl font-semibold text-heading leading-8"
          >
            Photo Editing & Color Grading
          </h5>
          <a
            class="cursor-pointer text-md pt-6 text-amber-600 flex justify-evenly"
          >
            Go to Portfolio
            <i class="fa-solid fa-right-long text-amber-600 self-center"></i>
          </a>
        </div>
      </div>
      <!-- end card 4  -->
    </div>
  </section>
  <!-- end specialize -->
  <!-- start work style -->
  <section class="px-8 py-12">
    <h1 class="text-5xl text-center text-cyan-700 font-bold py-16">
      My Work Style
    </h1>
    <!-- start cards  -->
    <div
      class="work-cards grid sm:grid-cols-1 md:grid-cols-2 gap-2 justify-items-center"
    >
      <!--  card1  -->
      <div class="work-card" id="top-left">
        <a
          routerLink="/portofolio"
          class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-transparent hover:border-amber-800 transition-all rounded-sm shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl"
        >
          <img
            class="object-cover w-full rounded-base h-64 md:h-auto md:w-52 mb-4 md:mb-0"
            src="/images/yasso (5).jpg"
            alt="Natural light & cinematic look"
          />
          <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">
              Natural light & cinematic look
            </h5>

            <p class="mb-6 text-body">
              Soft tones, clean light, and timeless depth.
            </p>
            <h5 class="mb-2 text-xl font-mono tracking-tight text-heading">
              Natural Light
            </h5>

            <div></div>
          </div>
        </a>
      </div>
      <!-- card2  -->
      <div class="work-card" id="top-right">
        <a
          routerLink="/portofolio"
          class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-transparent hover:border-amber-800 transition-all rounded-sm shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl"
        >
          <img
            class="object-cover w-full rounded-base h-64 md:h-auto md:w-52 mb-4 md:mb-0"
            src="/images/yasso (2).jpg"
            alt="Real Emotions"
          />
          <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">
              Focus on emotions, not poses
            </h5>

            <p class="mb-6 text-body">
              Capturing honest moments beyond the pose.
            </p>
            <h5 class="mb-2 text-xl font-mono tracking-tight text-heading">
              Real Emotions
            </h5>

            <div></div>
          </div>
        </a>
      </div>

      <!-- card3  -->

      <div class="work-card md:col-span-2 md:mx-auto" id="bottom">
        <a
          routerLink="/portofolio"
          class="flex flex-col items-center bg-neutral-primary-soft p-6 border border-transparent hover:border-amber-800 transition-all rounded-sm shadow-xs md:flex-row md:max-w-xl md:flex-row md:max-w-xl"
        >
          <img
            class="object-cover w-full rounded-base h-64 md:h-auto md:w-52 mb-4 md:mb-0"
            src="/images/sba3y (3).jpg"
            alt="Visual Storytelling"
          />
          <div class="flex flex-col justify-between md:p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-heading">
              Storytelling through images
            </h5>

            <p class="mb-6 text-body">
              Soft tones, clean light, and timeless depth.
            </p>
            <h5 class="mb-2 text-xl font-mono tracking-tight text-heading">
              Visual Storytelling
            </h5>

            <div></div>
          </div>
        </a>
      </div>
    </div>
    <!-- end cards  -->
  </section>

  <!-- end work style -->

  <!-- start closing -->
  <section class="py-36 bg-amber-50">
    <div
      class="closing px-10 flex flex-col gap-10 text-center text-5xl text-cyan-700 font-bold "
    >
      <h1 class="lets text-6xl pb-10 tracking-wider">Let,s</h1>
      <h1 class="create capitalize">
        create something unforgettable together.
      </h1>
      <button class="contact-btn">
        <a
          routerLink="/contact"
          class=" bg-cyan-700 hover:bg-amber-50 hover:text-cyan-700 border-cyan-700 rounded-2xl border text-white capitalize text-xl w-fit mx-auto transition-all duration-300 py-4 px-6"
        >
          Contact Me
        </a>
      </button>
    </div>
  </section>
  <!-- end closing -->
</div>

<!-- 
<h3 class="text-3xl">Skills :</h3>
        <ul class="list-disc px-5 gap-2 flex flex-col">
          <li class="text-lg">Wedding Photography</li>
          <li class="text-lg">Portrait Photography</li>
          <li class="text-lg">Event Coverage</li>
          <li class="text-lg">Photo Retouching</li>
          <li class="text-lg">Color Grading</li>

          <li class="text-lg">Lighting Setup</li>
          <li class="text-lg">Visual Storytelling</li>
        </ul>

-->
