<div class="py-32">
  <!-- wedding category -->
  <div class="wedding">
    <div class="flex flex-col gap-7 justify-center">
      <select
        class="border w-fit mx-auto flex 
         justify-between rounded-2xl px-20 text-xl border border-amber-800
          py-4 text-amber-950 bg-white hover:text-white hover:bg-cyan-950  capitalize"
        [(ngModel)]="selectedCategory"
      >
        @for (cat of categories; track cat) {
          <option [value]="cat">
            {{ cat }}
          </option>
        }
      </select>
      <h1 class="text-5xl text-center py-10 capitalize">
        {{ selectedCategory }} category
      </h1>
    </div>

    <div
      class="justify-items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 justify-center mx-auto items-center px-10"
    >
      @if (selectedCategory === "All") {
        @for (wedd of weddingImages.slice(5, 8); track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="wedd.src"
                [alt]="wedd.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ wedd.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }
        <!--  -->
        <!--  -->
        @for (port of portraitImages.slice(7, 10); track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="port.src"
                [alt]="port.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ port.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }
        <!--  -->
        <!--  -->
         @for (evv of eventsImages.slice(7, 10); track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="evv.src"
                [alt]="evv.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ evv.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }

        <!--  -->
        <!--  -->
        <!--  -->
         @for (wedd of weddingImages.slice(0, 3); track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="wedd.src"
                [alt]="wedd.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ wedd.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }
        <!--  -->
        <!--  -->
      <!--  -->
          @for (port of portraitImages.slice(0, 3); track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="port.src"
                [alt]="port.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ port.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }

        <!--  -->
        <!--  -->
<!--  -->
         @for (evv of eventsImages.slice(0,3); track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="evv.src"
                [alt]="evv.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ evv.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }

    }

      <!-- end all  -->
      <!-- start wedd -->
      @else if (selectedCategory === "Wedding") {
        @for (wedd of weddingImages; track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="wedd.src"
                [alt]="wedd.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ wedd.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }
      }
      <!-- end wedd -->
      <!-- start portraits -->
      @else if (selectedCategory === "Portraits") {
        @for (port of portraitImages; track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="port.src"
                [alt]="port.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ port.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }
      }

      <!-- end portraits -->
      <!-- start events -->
      @else if (selectedCategory === "Events") {
        @for (evv of eventsImages; track $index) {
          <div
            class=" portfolio-card bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-md shadow-xs transition-all hover:bg-cyan-700 hover:text-white"
          >
            <a href="#">
              <img
                class="rounded-base hover:scale-[1.06]"
                [src]="evv.src"
                [alt]="evv.title"
              />
            </a>
            <a href="#">
              <h5
                class="mt-6 mb-2 text-2xl font-semibold tracking-tight text-heading"
              >
                {{ evv.category }} Moment
              </h5>
            </a>
            <p class="mb-6 text-body">
              A timeless moment where two hearts begin forever.
            </p>
            <a
              routerLink="/contact"
              class="flex items-center justify-center text-body bg-cyan-700 box-border border border-default-medium text-white transition-all hover:bg-cyan-50 hover:text-heading hover:text-amber-700 shadow-xs font-medium leading-5 rounded-2xl text-sm px-4 py-2.5 focus:outline-none"
            >
              Book Now
              <svg
                class="w-4 h-4 ms-1.5 rtl:rotate-180 -me-0.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 12H5m14 0-4 4m4-4-4-4"
                />
              </svg>
            </a>
          </div>
        }
      }
    </div>
  </div>
</div>



<!-- ai -->

