<footer class="bg-cyan-900">
  <div class="px-20 py-10 footer-content flex flex-col md:flex-row gap-5 items-center">
    <h3 class="text-md md:text-xl lg:text-2xl text-white">
      <i class="fa-solid fa-at font-sans font-thin pt-1 px-0.5"></i>2018-2026
      by-Raki | All Rights Reserved
    </h3>
    <ul class="flex flex-row gap-5">
      <li class="text-lg text-white hover:text-amber-600 transition-all">
        <a href="https://www.linkedin.com/in/abdalla-salman-972259290/">
          <i class="text-3xl fa-brands fa-linkedin"></i>
        </a>
      </li>

      <li class="text-lg text-white hover:text-amber-600 transition-all">
        <a href="https://www.instagram.com/abdallasalman_photography/">
          <i class="text-3xl fa-brands fa-instagram"></i>
        </a>
      </li>

      <li class="text-lg text-white hover:text-amber-600 transition-all">
        <a href="https://www.facebook.com/Abdallasalman21">
          <i class="text-3xl fa-brands fa-facebook"></i>
        </a>
      </li>

      <li class="text-lg text-white hover:text-amber-600 transition-all">
        <a href="https://github.com/abdallasalman21/ecommerce">
          <i class="text-3xl fa-brands fa-square-github"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
